            .title {
                color: green;
                font-style: italic;
                text-align: center;
            }
            
            .sanpham {
                display: grid;
                grid-template-columns: auto auto auto auto;
            }
            
            .sanpham-khung {
                background-color: white;
                margin-top: 25px;
                margin-left: 30px;
            }
            
            .sanpham-khung:hover {
                border: 1px solid green;
            }
            
            .price {
                display: flex;
            }
            
            .pr {
                font-size: 15px;
                color: red;
            }
            
            .olpr {
                margin-right: 50px;
                font-size: 12px;
                color: grey;
                text-decoration: line-through;
            }
            
            .ft {
                margin-top: 100px;
                background-color: rgb(155, 247, 159);
            }
            
            .pagination {
                display: flex;
                margin-top: 150px;
                margin-left: 500px;
            }
            
            .flex {
                display: flex;
                margin-bottom: 20px;
                padding-left: 30px;
            }
            
            .flex-bt {
                margin-right: 20px;
                font-size: 10px;
                margin-bottom: 20px;
            }