body {
    background-image: url(/img/b34.jpg);
    width: 1000px;
    height: 801px;
}

.khung {
    height: 300px;
    width: 250px;
    background-color: #b9e0cc;
    margin-left: 650px;
    margin-top: 30px;
}

.form_control {
    width: 200px;
}

h3 {
    color: #0e580d;
    margin-left: 80px;
}